@import '@/styles/mixin.scss';

.nav-container {
  & a {
    color: inherit;
  }
  background-color: var(--color-white);
  padding: 1.6rem 1.6rem 1.6rem 34rem;
  display: flex;
  width: 100%;
  min-width: 98rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 7rem;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-gray30);
  background: var(--color-white);

  & .title-section {
    color: var(--color-black_33);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & .nav-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@include tablet {
  .nav-container {
    justify-content: flex-end;
    padding-left: 17rem;
    min-width: 54rem;
  }
  .title-section {
    display: none;
  }
}

@include mobile {
  .nav-container {
    height: 6rem;
    padding: 1.3rem 1.3rem 1.3rem 1.3rem;
    min-width: 37.5rem;
  }
}
