@import '@/styles/mixin.scss';

.nav-container {
  & a {
    color: inherit;
  }
  padding: 1.6rem 1.6rem 1.6rem 34rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 33rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  inset: 0;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-gray30);

  & .title-section {
    color: var(--color-black_33);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  & .nav-info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & .profile-section {
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      & img {
        border: 2px solid white;
        border-radius: 100%;
      }
      & .nickname {
        border: none;
        background: transparent;
        color: var(--color-black_33);
        font-family: 'Pretendard';
        font-size: 1.6rem;
        font-weight: 500;
        @include mobile {
          display: none;
        }
      }
    }
  }
}

@include tablet {
  .nav-container {
    justify-content: flex-end;
  }
  .title-section {
    display: none;
  }
}
