@import '@/styles/mixin.scss';

.input-container {
  width: 100%;
  max-width: 520px;
  min-width: 300px;
  position: relative;
  & label {
    display: block;
    color: var(--color-black_33);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  & input {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-gray30);
    background: white;
    padding: 1.3rem 4.1rem 1.3rem 1.6rem;
    &:focus {
      border: 1px solid var(--color-violet);
      outline: none;
    }
  }
  & .eye-button {
    position: absolute;
    right: 1rem;
    top: 3rem;
  }
}

[data-error='true'].input {
  border: 1px solid var(--color-red);
}
