@import '@/styles/mixin.scss';

button.button-container {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  width: 35.4rem;
  height: 7rem;
  padding: 0;
  border-radius: 8px;
  border: 1px solid var(--color-gray30);
  background-color: var(--color-white);
  .button-text {
    color: var(--color-black_33);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
  }

  @include tablet {
    width: 100%;
    left: 0;
    bottom: 0;
    transform: none;
    button {
      width: 100%;
      border-radius: 0;
      border: none;
      border-top: 1px solid var(--color-gray30);
    }
  }
  @include mobile {
    button {
      height: 6rem;
      .button-text {
        font-size: 1.6rem;
      }
    }
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
