:root {
  /* Color */
  --color-black: #171717;
  --color-black_33: #333236;
  --color-black_4B: #4b4b4b;

  --color-gray10: #fafafa;
  --color-gray20: #eeeeee;
  --color-gray30: #d9d9d9;
  --color-gray40: #9fa6b2;
  --color-gray50: #787486;

  --color-white: #ffffff;

  --color-violet: #5534da;
  --color-violet_8: #f1effd;
  --color-primary: var(--color-violet);

  --color-red: #d6173a;
  --color-green: #7ac555;
  --color-purple: #760dde;
  --color-orange: #ffa500;
  --color-blue: #76a5ea;
  --color-pink: #e876ea;

  /* box-shadow */
  --box-shadow-md: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

  /* Font */
  font-size: 62.5%;
}

html,
body {
  font-family: 'Pretendard';
  box-sizing: border-box;
  width: 100%;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}
