@import '@/styles/mixin.scss';

.body {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18rem;
  padding: 6rem 4rem 26rem 4rem;
  & img {
    border-radius: 8px;
    overflow: hidden;
  }
  @include tablet {
    padding-bottom: 16rem;
  }
  @include mobile {
    gap: 5rem;
    padding-top: 4rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  & .img {
    position: relative;
    width: 72.2rem;
    height: 42.2rem;
    @include tablet {
      width: 53.7rem;
      height: 31.4rem;
    }
    @include mobile {
      width: 29rem;
      height: 17rem;
    }
  }
  & h1 {
    font-size: 7.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 131.579% */
    letter-spacing: -2px;
    text-align: center;
    white-space: nowrap;
    & span {
      color: var(--color-violet);
      font-style: normal;
      font-weight: 700;
      line-height: 65px; /* 72.222% */
      letter-spacing: -1px;
    }
    @include tablet {
      font-size: 5.6rem;
    }
    @include mobile {
      font-size: 4rem;
      span {
        display: block;
        margin-top: -2rem;
      }
    }
  }
  & .description {
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1px;
    @include tablet {
      font-size: 1.6rem;
    }
    @include mobile {
      font-size: 1.2rem;
    }
  }
  & button {
    color: white;
    font-size: 1.6rem;
    border-radius: 8px;
    background: var(--color-violet);
    width: 27rem;
    height: 5.5rem;
    margin-top: 5rem;
  }
}

.section {
  background-color: var(--color-black);
  width: 100%;
  min-width: 30rem;
  max-width: 120rem;
  padding: 10rem 0 0 6rem;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  white-space: nowrap;
  & .img-1 {
    display: flex;
    place-items: flex-end flex-end;
  }
  & .img-2 {
    margin-right: 6rem;
  }
  & article {
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
  & .article {
    order: 2;
  }
  & h3 {
    color: var(--gray-gray_9FA6B2, #9fa6b2);
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  & p {
    color: var(--color-white);
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    & .article {
      order: 0;
    }
  }

  @include mobile {
    place-items: center center;
    padding: 4rem 4rem 0 4rem;
    gap: 5rem;
    & article {
      place-items: center center;
      text-align: center;
      gap: 9rem;
      padding-bottom: 10rem;
    }
    & .img-2 {
      margin: 0;
    }
    & p {
      font-size: 3rem;
    }
  }
}

.footer {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  place-items: flex-start center;
  & h2 {
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  @include tablet {
    place-items: center center;
  }

  & .container {
    position: relative;
    top: 5rem;
  }
  & section {
    display: flex;
    place-items: center space-between;
    gap: 3rem;
    @include tablet {
      flex-direction: column;
      place-items: center center;
    }
  }
}
