@import '@/styles/mixin.scss';

.signinput-container {
  padding: 1.2rem 0;
  width: 52rem;
  @include tablet-narrow {
    width: 35rem;
  }
  @include mobile {
    width: 100%;
  }
}

.error-message {
  padding-top: 0.6rem;
  color: var(--color-red);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include tablet {
    font-size: 1.2rem;
  }
  @include mobile {
    font-size: 1rem;
  }
}
