@import '@/styles/mixin.scss';

.column-list {
  display: flex;
  background-color: var(--color-gray10);
  height: 100%;
  > li {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    &:not(:last-of-type) {
      border-right: 2px solid var(--color-gray20);
    }
  }
  @include tablet {
    flex-direction: column;
    > li {
      &:not(:last-of-type) {
        border-right: 0;
        border-bottom: 2px solid var(--color-gray20);
      }
    }
  }
  @include mobile {
    > li {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }
}

div.no-invitation-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2.4rem;
  padding: 6.6rem 0 12.8rem 0;
  @include tablet {
    width: 100%;
  }
  @include mobile {
    padding: 10.5rem 0 15.4rem;
  }
  img.no-invitation-icon {
    width: 10rem;
    height: 10rem;
    @include mobile {
      width: 6rem;
      height: 6rem;
    }
  }
  p.no-invitation-text {
    color: var(--color-gray40);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 3rem;
    @include mobile {
      font-size: 1.4rem;
    }
  }
  .back-button {
    border-radius: 8px;
    padding: 1rem 3rem;
    color: var(--color-white);
    background-color: var(--color-violet);
    &:hover {
      border: 1px solid var(--color-violet);
      color: var(--color-violet);
      background-color: var(--color-violet_8);
    }
  }
}
