.container {
  position: absolute;
  top: 50%;
  left: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

  transform: translateY(-50%);
}
