.container {
  width: 62rem;
  border-radius: 0.5rem;
  background: var(--color-white);
}

.card-info {
  padding: 2.6rem 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-black_33);
}

.sub-title {
  padding: 0.8rem 2.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-gray40);
}

.table {
  padding: 1.6rem 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-gray20);
  list-style: none;
}

.name-wrapper {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.nickname {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-black_33);
}

.member-button {
  padding: 0.7rem 2.9rem;
  color: var(--color-primary);
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.4rem;
  border: 1px solid var(--color-gray30);
  background: var(--color-white);
}
