@import '@/styles/mixin.scss';

.container {
  position: fixed;
  z-index: 20;
  // width: 100%; // 레이아웃애 넣을때는 100%로 잡기
  width: 30rem;
  height: 100%;
  padding: 2rem 2.4rem;
  background-color: var(--color-white);
  border-right: 2px solid var(--color-gray30);
  transition: width 300ms ease;
  white-space: nowrap;
}

.logo {
  width: 100%;
  margin-bottom: 4.4rem;
}

.title-wrapper {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  color: var(--color-gray50);
  font-weight: 700;
}

.action {
  width: 2rem;
  height: 2rem;
  position: relative;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.menus {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.menu {
  background: none;
  padding-left: 1.2rem;
  border: none;
  color: var(--color-gray50);
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

.icon-wrapper {
  position: relative;
}

@include tablet {
  .container {
    width: 16rem;
    padding: 2rem 1.2rem;
  }

  .menus {
    padding: 1.2rem 1rem;
  }

  .menu {
    font-size: 1.6rem;
  }

  .icon {
    width: 1.5rem;
    height: 1.2rem;
  }
}

@include mobile {
  .container {
    width: 6.7rem;
  }

  .logo {
    margin-bottom: 3.8rem;
    text-align: center;
  }

  .logo-text {
    display: none;
  }

  .title-wrapper {
    justify-content: center;
  }

  .title {
    display: none;
  }

  .menus {
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .icon-wrapper {
    display: none;
  }
}
