@import '@/styles/mixin.scss';

.container {
  width: 23rem;
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

@mixin dropdownButton {
  width: 25rem;
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  border-radius: 6px;
  background: var(--white-white_FFFFFF, #fff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.6rem;
  position: relative;
  z-index: 2;
}
.dropdownbutton {
  @include dropdownButton;
  @include tablet {
  }

  @include mobile {
    width: 27rem;
  }
}
.dropdown {
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  background: var(--white-white_FFFFFF, #fff);
  position: absolute;
  top: 100%;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li:hover {
    color: var(--violet-violet_5534DA, #5534da);
    background: var(--violet-violet-8, #f1effd);
  }
}
