@import '@/styles/mixin.scss';

@mixin container {
  width: 49rem;
  position: relative;
  border-radius: 6px;
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  background: var(--white-white_FFFFFF, #fff);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem; 
  &:focus {
    outline: 0;
  }
}

.container {
  @include container;
  @include mobile {
    width: 24rem;
  }
}
