.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 0.5rem;
  .textarea {
    border: 1px solid var(--color-gray30);
    height: 7rem;
    border-radius: 0.8rem;
    resize: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      padding-top: 0.5rem;
      padding-left: 0.5rem;
      font-size: 1.48rem;
      color: var(--gray-gray_9FA6B2, #9fa6b2);
    }
  }
}
.text {
  font-size: 1.3rem;
}
.emphasis {
  color: var(--color-primary);
  font-size: 1.3rem;
}
