.container {
  width: 25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5rem;
  .text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .preview {
    width: 5.8rem;
    height: 5.8rem;
  }

  .plus {
    position: absolute;
  }

  .fileUpload {
    display: flex;
    width: 58px;
    height: 58px;
    padding: 18.316px;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: #f5f5f5;
    cursor: pointer;
  }
  input {
    display: none;
  }
}
