.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  font-size: 1.6rem;
  color: black;
  padding: 2rem 3rem 0 3rem;
}

.button {
  background-color: var(--color-violet);
  color: white;
  padding: 1rem 5rem;
  border-radius: 8px;
}
