section.container {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 102.2rem;
  padding: 3.2rem 0;
  border-radius: 8px;
  background: var(--color-white);
}
section.container h2.title {
  padding-left: 2.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-black_33);
  text-align: left;
}
section.container table.invited-dashboard-table {
  margin-top: 2rem;
  border-collapse: collapse;
}
section.container table.invited-dashboard-table col.column-first {
  width: 37.6rem;
}
section.container table.invited-dashboard-table col.column-second {
  width: 30.2rem;
}
section.container table.invited-dashboard-table col.column-third {
  width: 34.4rem;
}
section.container table.invited-dashboard-table thead .search-form-wrapper {
  padding: 0 2.8rem;
}
section.container table.invited-dashboard-table thead .search-form-wrapper form {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;
  width: 100%;
  height: 4rem;
  padding-left: 1.6rem;
  border-radius: 6px;
  border: 1px solid var(--color-gray30);
}
section.container table.invited-dashboard-table thead .search-form-wrapper form img.search-icon {
  width: 2.4rem;
  height: 2.4rem;
}
section.container table.invited-dashboard-table thead .search-form-wrapper form input.search-input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
section.container table.invited-dashboard-table thead .search-form-wrapper form input.search-input::-moz-placeholder {
  color: var(--color-gray40);
}
section.container table.invited-dashboard-table thead .search-form-wrapper form input.search-input::placeholder {
  color: var(--color-gray40);
}
section.container table.invited-dashboard-table thead .column-title-container th {
  padding: 2.4rem 0;
  color: var(--color-gray40);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}
section.container table.invited-dashboard-table thead .column-title-container th:first-of-type {
  padding-left: 2.8rem;
}
section.container table.invited-dashboard-table tbody .dashboard-name,
section.container table.invited-dashboard-table tbody .inviter-name {
  color: var(--color-black_33);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}
section.container table.invited-dashboard-table tbody .dashboard-item {
  border-bottom: 1px solid #ccc;
}
section.container table.invited-dashboard-table tbody .dashboard-item td {
  padding: 2.6rem 0;
}
section.container table.invited-dashboard-table tbody .dashboard-item td:first-of-type {
  padding-left: 3.6rem;
}
section.container table.invited-dashboard-table tbody .button-container {
  display: flex;
  width: 17.8rem;
  height: 3.2rem;
  gap: 10px;
}
section.container table.invited-dashboard-table tbody .button-container .button, section.container table.invited-dashboard-table tbody .button-container .button-decline, section.container table.invited-dashboard-table tbody .button-container .button-accept {
  width: 8.4rem;
  padding: 0.7rem 2.9rem;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
section.container table.invited-dashboard-table tbody .button-container .button-accept {
  background-color: var(--color-violet);
  border: 0;
  color: var(--color-white);
}
section.container table.invited-dashboard-table tbody .button-container .button-decline {
  border: 1px solid var(--color-violet);
  background-color: var(--color-white);
  color: var(--color-violet);
}
section.container div.no-invitation-container {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 2.4rem;
  padding: 6.6rem 0 12.8rem 0;
}
section.container div.no-invitation-container img.no-invitation-icon {
  width: 10rem;
  height: 10rem;
}
section.container div.no-invitation-container p.no-invitation-text {
  color: var(--color-gray40);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}/*# sourceMappingURL=InvitedDashBoard.module.css.map */