@import '@/styles/mixin.scss';

@mixin container {
  border-radius: 0.7rem;
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  display: flex;
  padding: 12px 60px;
}
.container {
  @include container;

  @include mobile {
    padding: 8px 50px;
  }
}

// 작은버튼
.small {
  @extend .container;
  padding: 5px 27px;
}

// 버튼 color
.purple {
  opacity: 0.7;
  background: var(--violet-violet_5534DA, #5534da);
  color: var(--white-white_FFFFFF, #fff);
  cursor: default;
  &.active {
    cursor: pointer;
    opacity: 1;
  }
}

.white {
  opacity: 0.7;
  background: var(--white-white_FFFFFF, #fff);
  color: var(--violet-violet_5534DA, #5534da);
  &.active {
    opacity: 1;
  }
}
